<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">

        <div class="jumbotron">
          <h2><b>老板：何石弼</b></h2>
          <h5>----->负责搜索引擎算法框架</h5>
          <br>
          <p>打工仔一号：朱力耕</p>
          <h5>----->负责网页的服务器和前端</h5>
          <br>
          <p>打工仔二号：海杰文</p>
          <h5>----->负责程序架构和组件通信</h5>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="well">
          这是个只有死宅才能看到的miku
          <div>
            <img src="../pic/side.gif" width="110%" height="110%" alt="">
          </div>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
