<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <form action="search" align="center">
        <p>请输入查询:
          <input type="text" name="query">
          <input type="submit" value="搜索">
        </p>
      </form>
    </div>

    

  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
